__pycache__/
/*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log
*.egg-info/
.eggs/
dist/
build/
*.sqlite3
**/__pycache__/
db_config.ini
nohup.out
wandb/
logs/
Drafts/AfterTune/diagnosis/
.cursor/
tests.out